
nav {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
}
/* unvisited link */
nav a {
    padding:0 1rem;
    color: #2f519c;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
  }
  
  /* visited link */
  nav a:visited {
  }
  
  /* mouse over link */
  nav a:hover {
    /* color: #2f519c; */
  }
  
  /* selected link */
  nav a:active {
    color: #294d9b;
  }